@font-face {
    font-family:bluu;
    src: url(../fonts/bluu-next/BluuNext-Bold.otf);
}

@font-face {
  font-family:bigelow;
  src: url(../fonts/BigelowRules-Regular.ttf);
}

@font-face {
  font-family:sofiapro;
  src: url(../fonts/Sofia-font/Sofia-font/SofiaProMedium.ttf);
}

.logo{height:2rem;width:2.5rem;}
.navbar-brand{padding:0.6rem 1rem;}
.navbar{background-color: rgb(246,172,109);--bs-navbar-padding-y:0;}
.navbar-nav li {margin:0 2rem;}
.navbar-nav .nav-link {font:1.2rem bluu,sans-serif; color: rgb(59,36,56); padding:1rem 1rem;}
.navbar-nav li:hover .nav-link {
    background-color: rgb(59,36,56); /* change to desired background color */
    color: rgb(249,223,174); /* change to desired text color */
  }
  .english_lang{height:1.3rem;}

  /* DROPDOWN MENU */
  .dropdown-menu {
    background-color:rgb(59,36,56);
    border: 4px solid rgb(246,172,109);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);

  }
  
  .dropdown-item {

    padding:0.5rem 2rem;
    color:rgb(249,223,174);
  }
  
  .dropdown-item:hover {
    background-color:rgb(249,223,174);
    color:rgb(59,36,56);
  }
  
  /* BACKGROUND IMAGE */
  body {
    background-color: rgb(59,36,56); /* using rgb color value */
    height: 100vh;
  }

  /* footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color:rgb(246,172,109);
    text-align: center;
    display: flex;
    align-items: center;
  } */


  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color:rgb(246,172,109);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* header{margin-top: 8rem;} */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  header h1{font:2.5rem bluu, sans-serif;color:rgb(249,223,174);}
  header h1 .hogwarts{font:9rem bigelow, sans-serif;}
  header h2{font:2.5rem bluu, sans-serif;color:rgb(246,172,109);}
  
  

  /*log-in and register container*/

  .form-container{
    text-align: center;
    width: 40%;
    height: 85%;
    top: 10%;
    left: 30%;
    padding: 5%;
    border-radius: 2px;
    box-shadow: 12px 12px 22px rgba(39, 39, 39, 0.801);
    background-image: linear-gradient(#F9DFAD, #F6B172);
  }

  .form-container h1{color: #4D3548;}
  .form-container p{font: 1.2em sofiapro, sans-serif;}


  .form-control{
    background-color: #4D3548;
    border-color: #4D3548;
    color: #F9DFAD;
    border-radius: 2px;
    margin-top: 10%;
    justify-content: center;
    width: 100%;
    height: 4em;
  }

  .form-control:focus{
    background-color:#C85750;
    color: #F9DFAD;
    
  }

  /*e-mail, username, password placeholders*/
  ::-webkit-input-placeholder{
    font: 1em sofiapro, sans-serif;
    color: #F9DFAD !important;
    text-align: center;
  }

  /*log in - register button*/
  .btn1{
    border: none;
    outline: none;
    background-image: linear-gradient(#C85750, #E46842);
    height: 4em;
    width: 40%;
    font: 1.2em sofiapro, sans-serif;
    color: #F9DFAD;
    border-radius: 4px;
    
  }
  
  .btn1:hover{
    background-image: linear-gradient(#ae3830, #de5f38);
    color: #F6B172;
  }

/* facility- button*/
.btn2{
  border:solid;
  outline:double;
  background-color: rgb(246,172,109);
  height: 3em;
  width: 70%;
  font: 1.2em sofiapro, sans-serif;
  color:#4D3548;
  border-radius: 4px;
}

.btn2:hover{
  background-image: linear-gradient(#ae3830, #de5f38);
  color: #f3eded;
}

iframe{
  margin-top:50px;
}

 #copyright{ margin-top: 1rem; font: 1.2rem sofiapro, sans-serif; color:rgb(59,36,56);}
 #accessibility {margin-top: 1rem; color:rgb(59,36,56); }
 #accessibility a{margin-top: 1rem; color:rgb(59,36,56); font: 1.2rem sofiapro, sans-serif; }
 #accessibility a:hover{color:rgb(161, 77, 3);}
 .footer .social-icons {
  padding: 2rem 0.5rem;
  font-size:1.8rem;
  color:rgb(59,36,56);
  margin-top:0.2rem;
}
.footer .social-icons:hover{color:rgb(161, 77, 3);}
 
@media only screen and (max-width: 767px){
footer{  overflow: auto;}
footer div{width:100%;}
.footer::-webkit-scrollbar {
  width: 0.5em;
}

.footer::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.footer::-webkit-scrollbar-thumb {
  background-color: #000000;
}



}
/*.embed-responsive-item{*/
/*  width:90%;*/
/*  height:60%;*/


/*}*/



/*laundry*/

.laundry-container{
  text-align: center;
    width: 100%;
    height: 90%;
    top: 15%;
}

.carousel-inner>.item>img{
  width:80%;
  height:95%; 
 
  }

.d-block{
  width:80%;
  height:95%;
  margin-left:10%;
  margin-top:2%;
}



.top-up-icons{
  width: 10%;
  height:10%;

}
.topup-form-container{
  text-align: center;
  width: 70%;
  height: 70%;
  top:15%;
  padding:2%;
  box-shadow: 12px 12px 22px rgba(39, 39, 39, 0.801);
  background-image: linear-gradient(#F9DFAD, #F6B172);
}
.topup-form-container h1{
  color: #4D3548;
}
.topup-form-container p{font: 1.2em , sans-serif;}

.study-container{
  margin-top:2%;
}

.carousel-control-prev, .carousel-control-next{
  width:20%;
}

/* studyRoom */
.card-body{
  background-color:  #F9DFAD;
  width:80%;
  margin-left: 10%;
  margin-top:1%;
  border-radius: 3em;
  
}
.card-text {
  font: 1.2em bluu,sans-serif;
  color:rgb(59,36,56);
}

#studyRoomIcon{
  width:8%;
  height:8%;
}